In [5]:
%run "/code/source/notebooks/notebook_settings.py"
import pandas as pd
from source.service.datasets import DATA

In [4]:
DATA.datasets

['credit', 'raw__credit']

In [3]:
credit = DATA.credit.load()
credit.head()

2023-04-07 04:28:58 - INFO     | Loading data `credit` from `data/processed/credit.pkl`

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,residence_since,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,target
0,<0,NaN,critical/other existing credit,radio/tv,1169.00,no known savings,>=7,4.00,male single,none,4.00,real estate,67.00,none,own,2.00,skilled,1.00,yes,yes,good
1,0<=X<200,NaN,existing paid,radio/tv,5951.00,<100,1<=X<4,2.00,female div/dep/mar,none,2.00,real estate,22.00,none,own,1.00,skilled,1.00,none,yes,bad
2,no checking,NaN,critical/other existing credit,education,2096.00,<100,4<=X<7,2.00,male single,none,3.00,real estate,49.00,none,own,1.00,unskilled resident,2.00,none,yes,good
3,<0,NaN,existing paid,furniture/equipment,7882.00,<100,4<=X<7,2.00,male single,guarantor,4.00,life insurance,45.00,none,for free,1.00,skilled,2.00,none,yes,good
4,<0,NaN,delayed previously,new car,4870.00,<100,1<=X<4,3.00,male single,none,4.00,no known property,53.00,none,for free,2.00,skilled,2.00,none,yes,bad

In [6]:
pd.DataFrame(DATA.descriptions).style.hide(axis='index')

In [7]:
pd.DataFrame(DATA.dependencies).style.hide(axis='index')

---